<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
 <Product Id='DAB52735-BF56-5081-B165-8EF0C4B224AE' Name='Terminal Services Brute Force Block (ts_block)' Language='1033' Version='$(env.RELEASE)' Manufacturer='Wellbury LLC' UpgradeCode='D78EDDFB-93DF-12CF-1C82-871358588B21'>
  <Package Id='30B0BAF0-A69D-12DC-1902-B41833668899' InstallerVersion='200' Compressed='yes' />

  <!-- Install to all users only -->
  <Property Id='ALLUSERS'>2</Property>
  <Property Id='ARPURLINFOABOUT'>http://opensource.wellbury.com/projects/ts_block</Property>
  <Property Id='ARPNOMODIFY'>1</Property>
  <Property Id='ARPNOREPAIR'>1</Property>
  <Property Id='MSIUSEREALADMINDETECTION'>1</Property>
  <Property Id='Privileged'>1</Property>
  
  <Media Id='1' EmbedCab='yes' Cabinet='data.cab' />

  <Directory Id='InstallDir' Name='SourceDir'>
   <Directory Id='ProgramFilesFolder' Name='PFiles'>
    <Directory Id='TARGETDIR' Name='ts_block'>
     <Component Id='component0' Guid='EE750F0F-9602-6999-66FF-90E30AB29CD0' DiskId='1'>
      <File Id='file0' Name='nssm.exe' src='third-party\nssm.exe' />
      <File Id='file1' Name='README.txt' src='..\README.txt' />
      <File Id='file2' Name='ts_block.vbs' src='..\ts_block.vbs' />
      <File Id='file3' Name='LICENSE' src='..\LICENSE' />
     </Component>
    </Directory>
   </Directory>
  </Directory>
  
  <CustomAction Id='InstallService'
   FileKey='file0'
   Execute='deferred'
   Impersonate='no'
   ExeCommand='install ts_block [WindowsFolder]System32\cscript.exe \"[TARGETDIR]ts_block.vbs\"' />

  <CustomAction Id='UninstallService' 
   FileKey='file0'
   Execute='deferred'
   Impersonate='no'
   ExeCommand='remove ts_block confirm' />

  <InstallExecuteSequence>
   <Custom Action='InstallService' Before='InstallFinalize'>NOT (REMOVE="ALL")</Custom>
   <Custom Action='UninstallService' Before='RemoveFiles'>REMOVE="ALL"</Custom>
  </InstallExecuteSequence>

  <Condition Message="Windows Server 2003 or newer is required for installation.">
   WindowsBuild > 2600
  </Condition>

  <Feature Id='Feature' Title='feature0' Level='1'>
   <ComponentRef Id='component0' />
  </Feature>
 </Product>
</Wix>
